# Python 3.11

anyio
atomicwrites
attrs
bcrypt
certifi
cffi
chardet
charset-normalizer
click
colorama
coverage
dnspython
ecdsa
email-validator
exceptiongroup
fastapi
greenlet
h11
idna
iniconfig
Jinja2
MarkupSafe
packaging
passlib
pluggy
psycopg2-binary
py
pyasn1
pycparser
pydantic
pyparsing
pytest
pytest-cov
python-dotenv
python-jose
python-multipart
requests
rsa
six
sniffio
SQLAlchemy
starlette
toml
tomli
typing_extensions
urllib3
uvicorn
